# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.dll
*.exe
config.cfg
*.tmp
*.log
*.smd
*.vta
*.mb
*.psd
*.png
*.graphml
*.mel_
*.py
thumbs.db

*/models/*
*/materials/*
/.maya.swatches
*.swatch
*_diffuse.txt
*_normal.txt
*/VTFEdit/*
*.dat
*/obsolete/*
*/delete/*
*/sources/*
*/Dreams_2013_SP/*