# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.dll
*.exe
config.cfg
*.tmp
*.log
*.smd
*.vta
*.mb
*.psd
*.png
*.graphml
*.mel_
*.py
thumbs.db

*/models/*
*/materials/*
/.maya.swatches
*.swatch
*_diffuse.txt
*_normal.txt
*/VTFEdit/*
*.dat
*/obsolete/*
*/delete/*
*/sources/*
*/Dreams_2013_SP/*
config/Mesa_config.bat
addons/humans_sdk/player/_body_poses_lean.qci
addons/humans_sdk/player/bak2_player_macros.qci
addons/humans_sdk/male/group03m/scenes/male_05_reference.scn