# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.dll
*.exe
config.cfg
*.tmp
*.log
*.psd
*.png
*.graphml
*.mel_
*.py
thumbs.db


*/models/*
*/materials/*
/.maya.swatches
*.swatch
*_diffuse.txt
*_normal.txt
*/VTFEdit/*
*.dat
icons/obsolete/mesa
icons/obsolete/valve
icons/sources/
scripts/delete/
addons/humans_sdk/male/group03m/scenes/male_05_reference.scn